/**
 * Align
 */
.align-center {
    text-align: center !important;
}
.align-left {
    text-align: left !important;
}
.align-right {
    text-align: right !important;
}
/**
 * End align
 */

/**
 * Padding style
 */

.pr-25px {
    padding-right: 25px;
}
.pt-0px {
    padding-top: 0px;
}
.pl-15px {
    padding-left: 15px;
}
.pr-15px {
    padding-right: 15px;
}
.p-0px {
    padding: 0px;
}
.pb-15px {
    padding-bottom: 15px;
}
.pl-0px {
    padding-left: 0px;
}
.pr-0px {
    padding-right: 0px;
}
/**
 * End padding style
 */

/**
 * Margin style
 */

.mt-5px {
    margin-top: 5px;
}
.mt-15px {
    margin-top: 15px;
}
.mb-0px {
    margin-bottom: 0px;
}
.mb-30px {
    margin-bottom: 30px;
}
/**
 * End margin style
 */

/**
 * Template
 */

.fs-12px {
    font-size: 12px;
}
.i-checks {
    font-size: 12px;
    margin-bottom: 0px;
}
.tittle-header {
    padding-bottom: 15px;
    margin-top: 15px;
    color: #000000;
    margin-bottom: 15px;
    width: 100%;
    border-bottom: 1px solid #dddddd;
}
.pagination {
    font-size: 12px;
}
.ui-select-bootstrap .ui-select-match .btn-default {
    height: 28px;
    font-size: 12px;
}
.ui-select-toggle {
    padding-top: 5px;
}
.ui-select-bootstrap .ui-select-choices-row>span {
    font-size: 12px;
}
.ui-select-search {
    font-size: 12px;
    height: 28px;
}
.sidebar .nav-item a {
    font-size: 12px;
}
.angka {
    text-align: center;
}
.badge-table {
    font-size: 11px;
}
.input-group-sm {
    height: 28px;
}
.input-group-sm .input-group-text {
    font-size: 11px;
}
.rp {
    text-align: right;
}
.required::after {
    content: '*';
    color: red;
}
.steps-indicator li.current a:before {
    background-color: #31b5f5 !important;
}
.app-header.navbar .navbar-brand {
    padding: 0px;
    padding-right: 0px;
    border-right: 1px solid #f0f3f5;
    position: relative;
    height: 93px;
    font-size: 20px;
    border-bottom: none;
    background-color: #ffff;
    width: 200px;
    text-align: center;
    border-bottom: 1px solid #f0f3f5;
}
.px-3 {
    font-size: 13px;
}
.navbar-brand {
    margin-top: 5px;
}
.navbar-brand-text {
    margin-top: 8px;
}
.img-brand {
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.box-shadow{
    border-radius: 5px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.card-footer{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/**
 * End template
 */

/** 
 * Password Checker
 */

input.ng-pristine+ul#strength {
    display: none;
}
ul#strength {
    /*display: inline;*/
    list-style: none;
    margin: 0;
    /*margin-left: 15px;*/
    padding: 0;
    vertical-align: 2px;
}
.point:last {
    margin: 0 !important;
}
.point {
    background: #ddd;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 20px;
}
.point-text {
    background: #ddd;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    margin-left: 4px;
    background-color: transparent;
    font-size: 11px;
}
.help-block-sm {
    font-size: 11px;
    margin-bottom: 0px;
}
/** End Password Checker */

/**
 * Table
 */

.table td, .table th {
    border-top: 1px solid #c8ced3;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
}
.table td, .table th {
    vertical-align: middle;
}
.table thead tr th{
    height: 35px;
    border-bottom: 1px solid #c8ced3;
    vertical-align: middle;
}
.table-striped td{
    border-top: none;
}
/**
 * End table
 */

/**
 * Tabel Laporan
 */
.table-laporan tr {
    background-color: #e3f1f31f;
    border-bottom: none;
}
.table-laporan td {
    border: none !important;
}
.table-laporan tbody+tbody {
    border-top: none;
}
.table-laporan tbody tr:nth-of-type(odd) {
    background-color: rgba(57, 143, 163, 0.12);
}
.table-laporan thead tr {
    background-color: #398fa3;
    color: white;
}
.table-laporan tbody tr th {
    background-color: #398fa3;
    color: white;
}
.table-laporan tfoot tr {
    background-color: #398fa3;
    color: white;
}
.header-laporan {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}
.content-center {
    text-align: center;
}
.header-laporan-wrapper {
    margin-bottom: 15px;
    margin-top: 15px;
    color: #525252;
}
.table-laporan thead tr th{
    border-bottom: none;
    border-top: none;
    vertical-align: middle;
    height: auto;
}
/**
 * End tabel laporan
 */

/**
 * Sweet alert
 */

.swal2-popup .swal2-title {
    font-size: 20px;
}
.swal2-popup #swal2-content {
    font-size: 16px;
    text-align: center;
}
/**
 * Medium
 */

.medium-editor-toolbar li button {
    min-width: 35px !important;
    height: 35px !important;
    padding: 5px !important;
}
.card-header strong {
    font-size: 14px;
}
.card-header strong {
    font-size: 14px;
}
.card-header-white {
    background-color: #fff;
    border-bottom: 1px solid #e4e5e6;
}