<div ng-controller="profilCtrl">
    <div class="container-fluid">
        <div class="panel panel-blank">
            <div class="panel-heading">
                <h2 class="text-left">
                    Edit Profile
                </h2>
                <div class="btn-group pull-right" role="group" style="margin-top: 5px;">
                    <button class="btn btn-default" ui-sref="site.dashboard">
                        <i class="glyphicon glyphicon-arrow-left">
                        </i>
                        Kembali
                    </button>
                    <button class="btn btn-primary" ng-click="save(form)" ng-hide="is_view" type="submit">
                        <i class="glyphicon glyphicon-save">
                        </i>
                        Simpan
                    </button>
                </div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal form-validation " name="landaform">
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label required">
                            Nama
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" ng-disabled="is_view" ng-model="form.nama" type="text">
                            </input>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label required">
                            Username
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" ng-disabled="is_view" ng-model="form.username" type="text">
                            </input>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">
                            Password
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" ng-disabled="is_view" ng-model="form.password" type="password">
                            </input>
                            <p class="block-help">
                                * Kosongi jika password tidak diubah
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>