<div class="container img-rounded" ng-controller="siteCtrl" style="border: 2px solid #ddd;padding:20px;width:280px;margin-top: 50px;background-color: white">
    <div class="m-b-lg">
        <div class="wrapper text-center" style="margin-bottom: 20px">
            <!-- <img class="img-logo" src="img/logo.png"/> -->
            <br class="clearfix"/>
        </div>
        <form class="form-validation" name="form">
            <div class="text-danger wrapper text-center" ng-show="authError">
                {{authError}}
            </div>
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input class="form-control no-border" ng-model="form.username" placeholder="Username" required="" type="text">
                    </input>
                </div>
                <div class="list-group-item">
                    <input class="form-control no-border" ng-model="form.password" placeholder="Password" required="" type="password">
                    </input>
                </div>
            </div>
            <button class="btn btn-danger btn-block" ng-click="login(form)" type="submit">
                Log in
            </button>
            <div class="text-center" style="margin-top: 5px">
                <small class="text-muted">
                    <a href="#" target="_blank">
                        Slim Angular
                    </a>
                    ver 1 © 2017
                </small>
            </div>
        </form>
    </div>
</div>